.chip {
    top: 15px;
    left: 15px;
    background-color: #FFFFFF !important;
    position: absolute;
    z-index: 2;
  }

.close-btn-container {
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 2;
}

.close-btn{
    padding: 0px !important;
}
